/*****************************************************************/
/*                                                               */
/*      Oh My Food version: 1   Date: 30Sept22                   */
/*      autor: A.ANDRE                                           */
/*                                                               */
/*                                                               */
/*****************************************************************/
/* *************************** MAIN *************************** */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

@font-face {
  font-family: "Shrikhand";
  font-weight: normal;
  src: url("Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url("Roboto/Roboto-light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("Roboto/Roboto-Bold.ttf") format("truetype");
}
body {
  font-family: "Roboto", serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 23px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 18px;
  font-weight: 100;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

h4 {
  font-weight: 100;
}

.grey-light-background {
  background-color: #f6f6f6;
}

/* *************************** LOADER *************************** */
.loader-container {
  position: fixed;
  z-index: 10;
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: slideout 0.5s ease-in-out 2s;
          animation: slideout 0.5s ease-in-out 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes slideout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #ff79DA, #9356DC);
  margin: 0 15px;
  -webkit-animation: loader infinite 0.3s alternate;
          animation: loader infinite 0.3s alternate;
}

.d2 {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.d3 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

@-webkit-keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}

@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
/* *************************** HEADER *************************** */
.header-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10%;
  }
}

.header-container-menu {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.under-header-container {
  display: flex;
  justify-content: center;
}

.under-header-container-menu {
  display: flex;
  justify-content: space-between;
}
.under-header-container-menu a {
  color: #000;
  margin: auto 0;
  font-size: 25px;
}
.under-header-container-menu a:hover {
  background: linear-gradient(to bottom right, #ff79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.header__logo {
  margin: 20px 0 10px 0;
}
.header__logo img {
  height: 28px;
}

.header__location {
  display: flex;
  margin: 15px 0;
  width: 161px;
}
.header__location i, .header__location p {
  color: #353535;
}
.header__location i {
  margin-right: 20px;
}
@media screen and (min-width: 992px) {
  .header__location {
    margin: 30px 0;
  }
}

.header--greybackground {
  background-color: #eaeaea;
}
@media screen and (min-width: 992px) {
  .header--greybackground {
    background-color: #fff;
  }
}

.header--bottomshadow {
  box-shadow: 0px 3px 3px #ccc inset;
}
@media screen and (min-width: 992px) {
  .header--bottomshadow {
    box-shadow: none;
  }
}

/* *************************** section explorer *************************** */
.explorer-container {
  display: flex;
  justify-content: center;
}

.under-explorer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explorer__element {
  display: flex;
}
.explorer__element h1, .explorer__element h2 {
  text-align: center;
}
.explorer__element:nth-child(1) {
  width: 70%;
  margin: 35px 0px 15px 0px;
}
.explorer__element:nth-child(2) {
  width: 100%;
}
.explorer__element:nth-child(3) {
  margin: 35px 0px 60px 0px;
}
@media screen and (min-width: 992px) {
  .explorer__element:nth-child(1) {
    margin: 60px 0px 25px 0px;
  }
  .explorer__element:nth-child(3) {
    margin: 45px 0px 60px 0px;
  }
}

.explorer__Button {
  padding: 15px 20px;
  outline: none;
  border: none;
  font-size: 15px;
  background: linear-gradient(to bottom right, #ff79DA, #9356DC);
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  position: relative;
  z-index: 1;
}
.explorer__Button:hover::after {
  opacity: 1;
}
.explorer__Button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
  border-radius: 30px;
  box-shadow: 10px 10px 10px #ccc;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

/* *************************** section fonctionnement *************************** */
.under-function-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .under-function-container {
    flex-direction: row;
    margin: 40px 20px 60px 20px;
  }
}

.function__element {
  position: relative;
  display: flex;
  width: 86%;
  justify-content: center;
  background-color: #eaeaea;
  border-radius: 20px;
  box-shadow: 0px 5px 20px #999;
  margin: 10px 10px 20px 25px;
  padding: 25px;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .function__element {
    padding: 40px 25px 40px 25px;
  }
}
.function__element i {
  position: absolute;
  left: 40px;
  top: 25px;
}
@media screen and (min-width: 992px) {
  .function__element i {
    top: 40px;
  }
}
.function__element:hover::after {
  opacity: 1;
}
.function__element::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f8f2ff;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #777;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.function__element:hover .icon--color {
  color: #9356DC;
}

.function__title {
  display: flex;
  width: 90%;
  margin: 30px auto;
}
@media screen and (min-width: 992px) {
  .function__title {
    margin: 50px auto 30px auto;
  }
}

.function__roundnumber {
  position: absolute;
  left: -15px;
  top: 20px;
  color: #FFF;
  background-color: #9356DC;
  padding: 4px 8px 2px 8px;
  border-radius: 20px;
}
@media screen and (min-width: 992px) {
  .function__roundnumber {
    top: 35px;
  }
}

.icon--color {
  color: #777;
}

/* *************************** Restaurant *************************** */
.restaurant-container {
  margin-top: 40px;
  padding: 30px 0 55px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.under-restaurant-container, .under-restaurant-container-duo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.under-restaurant-container-duo {
  width: 100%;
}

.under-restaurant-container {
  width: 90%;
}
@media screen and (min-width: 992px) {
  .under-restaurant-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .under-restaurant-container-duo {
    margin: 0 20px;
  }
}

.restaurant__title {
  display: flex;
  width: 100%;
  margin: 20px 0 20px 0;
}

.restaurant__card {
  width: 100%;
  height: 250px;
  background-color: #fff;
  box-shadow: 0px 5px 20px #999;
  border-radius: 15px;
  margin: 20px;
  position: relative;
  z-index: 1;
}
.restaurant__card:hover::after {
  opacity: 1;
}
.restaurant__card:hover .card__image::after {
  opacity: 0.2;
}
.restaurant__card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  box-shadow: 10px 10px 20px #777;
  border-radius: 15px;
  z-index: -1;
  transition: opacity 250ms;
}

.card__image {
  height: 180px;
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
  z-index: -1;
}
.card__image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: #fff;
  z-index: 1;
  transition: opacity 250ms;
}
.card__image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new__flag {
  position: absolute;
  z-index: 2;
  color: #008766;
  background: #99e2d0;
  padding: 6px 10px;
  border-radius: 3px;
  top: 5%;
  left: 70%;
}

.card__txt {
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
}
.card__txt h3, .card__txt h4 {
  color: #000;
  padding: 5px 0px 5px 0px;
}
.card__txt h3 {
  font-weight: 700;
}
.card__txt p {
  margin: 15px;
  font-size: 25px;
}

.icon-container {
  position: relative;
  display: inline-block;
  width: 60px;
}
.icon-container p {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 15px;
  font-size: 25px;
}

.solid-heart {
  background: linear-gradient(to bottom right, #ff79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 1000ms;
}
.solid-heart:hover {
  opacity: 1;
}

/* *************************** footer *************************** */
footer {
  background-color: #353535;
}

.footer-container {
  display: flex;
  width: 100%;
  max-width: 1400px;
}

.under-footer-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin-left: 5%;
}
@media screen and (min-width: 992px) {
  .under-footer-container {
    margin-left: 7%;
  }
}
.under-footer-container a {
  color: #fff;
  font-size: 15px;
  padding: 5px;
  position: relative;
  z-index: 1;
}
.under-footer-container a:hover {
  background: linear-gradient(to bottom right, #ff79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.footer-logo {
  margin: 10px 0 15px 0;
}
.footer-logo a {
  font-family: "Shrikhand", serif;
  font-size: 18px;
}

/* *************************** page menu *************************** */
.icon--invisible {
  opacity: 0;
}

.main-img-container {
  height: 250px;
  position: relative;
  overflow: hidden;
}
.main-img-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px 50px 0 0;
  transform: translateY(-50px);
}

.under-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .under-menu-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
}

.menu-container__tittle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 30px 0 20px 0;
}
.menu-container__tittle h1 {
  font-family: "Shrikhand", serif;
}
.menu-container__tittle .icon-container {
  width: 20px;
}
.menu-container__tittle .icon-container p {
  margin: 0px;
  font-size: 20px;
}
.menu-container__tittle .icon-container i {
  color: #000;
}

.under-menu-tittle {
  display: flex;
  flex-direction: column;
  width: 90%;
}
@media screen and (min-width: 992px) {
  .under-menu-tittle {
    margin-left: 0px;
    align-items: center;
  }
}

.menu-container__entrees, .menu-container__plats, .menu-container__desserts {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 40px;
  max-width: 600px;
}
@media screen and (min-width: 992px) {
  .menu-container__entrees, .menu-container__plats, .menu-container__desserts {
    align-items: center;
    margin: 0 20px;
    width: 30%;
  }
}

.divider {
  width: 50px;
  height: 2px;
  background-color: #99e2d0;
  margin: 5px 0;
}

.menu__element {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 72px;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #999;
  margin: 10px 0;
  opacity: 0;
  transform: translateY(15px);
  overflow: hidden;
  -webkit-animation: slidein 1s ease-in-out 0.2s;
          animation: slidein 1s ease-in-out 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media screen and (min-width: 992px) {
  .menu__element {
    margin: 20px 20px;
  }
}
.menu__element:hover .menu__element__check {
  width: 72px;
}
.menu__element:hover .check--anim {
  transform: rotate(-360deg);
}

@-webkit-keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.anim--delay2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.anim--delay3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.anim--delay4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.menu__element__txt {
  padding: 10px 0 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-shrink: 2;
  min-width: 55%;
  padding-top: 5px;
}
.menu__element__txt h4 {
  font-size: 14px;
}
.menu__element__txt h3 {
  font-weight: 700;
}
.menu__element__txt h3, .menu__element__txt h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  margin: 40px 20px 0 20px;
}

.menu__element__check__container {
  display: flex;
}

.menu__element__check {
  display: flex;
  background-color: #99e2d0;
  width: 0px;
  transition: width 1000ms;
  border-radius: 0 15px 15px 0;
}
.menu__element__check i {
  color: #fff;
  margin: auto;
}

.check--anim {
  transition: transform 1000ms;
}

.menu-container__button {
  margin: 30px 0;
}
.menu-container__button .explorer__Button {
  padding: 15px 50px;
}/*# sourceMappingURL=style.css.map */